<h1>Welcome to IdeaBox</h1>

<h2>Enter a new Idea</h2>
<form class="form-inline" id="save-idea">
  <div class="form-group">
    <label for="IdeaTitle">Title</label>
    <input type="text" class="form-control" id="IdeaTitle" placeholder="Your idea's title">
  </div>
  <div class="form-group">
    <label for="IdeaBody">Describe Your Idea</label>
    <input type="text" class="form-control" id="IdeaBody" placeholder="My genius idea...">
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>

<h2>Here Are All Your Ideas</h2>

<div class="ideas">
 <div class="list-group">

 </div>
</div>
